PORT=3001
GROQ_API_KEY=gsk_abc123xyz456
UPSTASH_VECTOR_URL=https://coherent-bluebird-19323-gcp-usc1-search.upstash.io
UPSTASH_VECTOR_TOKEN=ACAFMGNvaGVyZW50LWJsdWViaXJkLTE5MzIzLWdjcC11c2MxYWRtaW5NbVF5TlRRMk56QXRZekJtTUMwMFkyTXlMV0ZrWVRrdFptSm1ZVEU1TmpGbU5tRmg=
NODE_ENV=development
